.App {
  text-align: center;
}
.slick-arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  /* display: block; */
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  /* cursor: pointer; */
  color: black;
  border: none;
  /* outline: none; */
  background: black;
}
.slick-next {
  right: 35px;
}
.slick-prev {
  right: 35px;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
